name: Update database

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: '0 */2 * * *'
    - cron: '58 3 * * *'
    - cron: '58 7 * * *'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB-ACTION: true
      VERSION-CODE: 'Unknown'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4.2.0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: |
          python main.py
          echo ${{ VERSION-CODE }} >> ${{ env.VERSION-CODE }}

      - name: Save change
        uses: EndBug/add-and-commit@v9
        with:
          add: 'out'
          author_name: GitHub Actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit: --signoff
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          cwd: '.'
          message: 'Auto update database: ${{ env.VERSION-CODE }}'
          pathspec_error_handling: ignore
          push: true